
.progress-bar {
	padding: 15px 15px;
	border-radius: 3px;
	background-color: #fff;
	
}

.progress-alarm {
	padding: 15px 15px;
	border-radius: 3px;
	background-color: #fff;
	
}

.progress-bar progress {
	background-color: #f3f3f3;
	border: 0;
	width: 80%;
	height: 18px;
	border-radius: 9px;
}

.progress-alarm progress {
	background-color: #f3f3f3;
	border: 0;
	width: 80%;
	height: 18px;
	border-radius: 9px;
}

.progress-bar progress::-webkit-progress-bar {
	background-color: #f3f3f3;
	border-radius: 9px;
}

.progress-alarm progress::-webkit-progress-bar {
	background-color: #f3f3f3;
	border-radius: 9px;
}

.progress-bar progress::-webkit-progress-value {
	background: #cdeb8e;
	background: -moz-linear-gradient(top,  #cdeb8e 0%, #a5c956 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956));
	background: -webkit-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%);
	background: -o-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%);
	background: -ms-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%);
	background: linear-gradient(to bottom,  #cdeb8e 0%,#a5c956 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 );
	border-radius: 9px;
}

.progress-alarm progress::-webkit-progress-value {
	background: #ed1c24;
	background: -moz-linear-gradient(top,  #ed1c24 0%, #e75b54 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ed1c24), color-stop(100%,#e75b54));
	background: -webkit-linear-gradient(top,  #ed1c24 0%,#e75b54 100%);
	background: -o-linear-gradient(top,  #ed1c24 0%,#e75b54 100%);
	background: -ms-linear-gradient(top,  #ed1c24 0%,#e75b54 100%);
	background: linear-gradient(to bottom,  #ed1c24 0%,#e75b54 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed1c24', endColorstr='#e75b54',GradientType=0 );
	border-radius: 9px;
}
.progress-bar progress::-moz-progress-bar {
	background: #cdeb8e;
	background: -moz-linear-gradient(top,  #cdeb8e 0%, #a5c956 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956));
	background: -webkit-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%);
	background: -o-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%);
	background: -ms-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%);
	background: linear-gradient(to bottom,  #cdeb8e 0%,#a5c956 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 );
	border-radius: 9px;
}

.progress-alarm progress::-moz-progress-bar {
	background: #ed1c24;
	background: -moz-linear-gradient(top,  #ed1c24 0%, #e75b54 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ed1c24), color-stop(100%,#e75b54));
	background: -webkit-linear-gradient(top,  #ed1c24 0%,#e75b54 100%);
	background: -o-linear-gradient(top,  #ed1c24 0%,#e75b54 100%);
	background: -ms-linear-gradient(top,  #ed1c24 0%,#e75b54 100%);
	background: linear-gradient(to bottom,  #ed1c24 0%,#e75b54 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed1c24', endColorstr='#e75b54',GradientType=0 );
	border-radius: 9px;
}
.progress-bar .progress-value {
	padding: 0px 5px;
	line-height: 20px;
	margin-left: 5px;
	color: #555;
	height: 18px;
	float: right;
}

.progress-alarm .progress-value {
	padding: 0px 5px;
	line-height: 20px;
	margin-left: 5px;
	color: #555;
	height: 18px;
	float: right;
}